/* Login.css */

.login-card {
  width: 450px;
  padding: 70px 40px;
  border-radius: 20px;
  background:#1b3b2a;
  border: 3px solid #d8b36a;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Logo */
.login-logo {
  width: 150px;
  margin-bottom: 15px;
}

/* Títulos */
.login-card h1 {
  color: #d8b36a;
  font-size: 35px;
  margin-bottom: 5px;
}

.login-card p {
  color: #e0f1e8;
  font-size: 17px;
  margin-bottom: 30px;
}

/* Inputs */
.input-group {
  display: flex;
  align-items: center;
  background-color: #1b3b2a;
  border: 1px solid #3e6f57;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 18px;
  transition: border-color 0.3s ease;
}

.input-group:focus-within {
  border-color: #d8b36a; /* Brillo dorado al escribir */
}

.icon {
  color: #b5d4c5; 
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.input-group input {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #b5d4c5;
}

/* Botón */
.login-btn {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  background-color: #d8b36a;
  color: #1b3b2a;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e8c77e;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}