html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: radial-gradient(circle, #1b1430 0%, #0b0816 100%);
  overflow-x: hidden;
}